<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bryanwalsh.sleepcyclewidget">

    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- TODO: App indexing -->

    <application
        android:name=".PublicBillingHelper"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >

        <activity android:name=".SplashActivity" android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <receiver android:name=".SleepWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.EXTRA_APPWIDGET_IDS" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sleep_widget_light_info" />
        </receiver>

        <activity
            android:name=".SleepWidgetConfigureActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".WidgetConfigurePreferences"
            android:label="@string/title_activity_widget_configure_preferences"
            android:launchMode="singleTop"
            android:theme="@style/PreferenceScreen">
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
                <!--<action android:name="android.appwidget.action.EXTRA_APPWIDGET_IDS" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".WidgetConfigurePreferences"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".PurchaseActivity"
            android:parentActivityName=".WidgetConfigurePreferences"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".InformationActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
        </activity>


        <!--BEGIN ADMOB-->
        <activity
            android:name=".GoogleInterstitial"
            android:label="@string/title_activity_google_interstitial"></activity> <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/adID"/>
    </application>

</manifest>